.nav-bar {
    display: flex;
    gap: 0.5rem;
    padding: 8px;
    background-color: rgb(0, 0, 0);
    font-size: 14px;
    font-weight: 500;
    justify-content: space-between;
}

#nav-logo {
    font-weight: 700;
    border: 1px solid #FFD814;
    background-color: #f3ca02;
    border-radius: 4px;
    color: black;
}


.nav-bar div {
    display: flex;
    gap: 0.5rem;
}

.search-bar {
    position: relative;
}

.search-bar input {
    border-radius: 5px;
    min-width: 550px;
}

.search-bar input:focus {
    border: none;
    outline: none;
}

.search-bar .dropdown-container {
    position: absolute;
    border: 1px solid #060606;
    width: 100%;
    margin-top: 34px;
    padding: 8px;
    max-height: 350px;
    overflow-y: auto;
    border-radius: 8px;
    z-index: 105;
    background-color: rgba(6, 6, 6, 0.673);
    color: #fff;
}

.dropdown-container ul {
    list-style: none;
}

.dropdown-container ul li {
    padding: 10px;
    cursor: pointer;
}

.dropdown-container ul li:hover {
    background-color: #ffffff;
    color: #060606;
    border-radius: 4px;
}

.nav-bar div a {
    color: white;
    text-decoration: none;
    padding: 5px 15px;
    border-radius: 5px;
}

.nav-bar div a:hover {
    background-color: rgb(80, 80, 82);
}

.bi {
    margin-right: 5px;
}


.nav-icon {
    margin-right: 5px;
}

.icon-text {
    vertical-align: middle;
}

.language select{
    border: none;
   background-color: black;
   color: inherit;
}

.logout {
    background-color: #060606;
    color: #ffffff;
}

.logout:hover {
    background-color: rgb(80, 80, 82);
    color: #fff;
}