.watchlist-ribbon {
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
}

svg:not(:root) {
    overflow: hidden;
}

.watchlist-ribbon-bg {
    position: relative;
    width: 100%;
    height: auto;
    transition: stroke .2s ease-in-out;
}

.watchlist-ribbon-bg-hover {
    background-color: rgba(255, 255, 255, .32);
    opacity: 0;
}
.watchlist-ribbon-bg-shadow {
    background-color: rgba(0, 0, 0, 0.32);
}